*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #eeece9;
}
footer{
    padding: 30px 0;
    margin-top: 50px;
    text-align: center;
    color: #fff;
    background-color: rgb(66, 66, 66);
}
.wrap{
    margin: 0 auto 0 auto;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    max-width: 960px;
}
#header{
    position: relative;
}
#header_background{
    position: absolute;
    margin-bottom: 600px;
    width: 100%;
    height: 500px;
}
#title{
    position: absolute;
    font-size: 100px;
    font-family: 'Papyrus';
    color: #fff;
    top: 55px;
    width: 100%;
    text-align: center;
}
.header_margin{
    height: 500px;
}
.subtitle{
    margin: 70px 0;
    font-family: 'Verdana','Times New Roman';
    border-bottom: double 5px #000;
    display: inline-block;
    width: 200px;
}
.nav{
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0px 10px 10px #9d9592;
}
.nav ul{
    padding: 0;
}
.nav li{
    display: inline;
    margin: 0 40px;
    list-style-type: none;
}
.menu{
    color: #000;
    text-decoration: none;
    font-family: 'Silom','Times New Roman';
    font-size: 20px;
}
.section{
    text-align: center;
}
.sentence{
    text-align: left;
    margin: 0 200px;
}
.language{
    width: 50%;
    height: 50%;
}
.skills{
    display: flex;
    flex-wrap: wrap;
}
.skill_item{
    margin: 20px 0;
    display: inline-block;
    text-align: center;
    width: 25%;
}
.skill_image{
    min-height: 124px;
    margin-bottom: 10px;
}
.skill_info{
    display: inline;
    max-width: 30px;
    font-family: 'Arial Rounded MT Bold';
    font-weight: bolder;
}
.star{
    margin: 5px 0;
}
.works{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.work_item{
    text-align: center;
    margin: 5px 5px;
    border: solid 3px rgb(161, 161, 161);
    display: inline-block;
    background-color: #fff;
    width: 48%;
    height: 1200px;
}
.work_image{
    width: 100%;
    height: 30%;
}
.work_description{
    text-align: left;
    margin: 0 5px;
}
.work_subtitle{
    font-family: 'Silom','Times New Roman';
    border-bottom: double 3px #000;
    width: 30%;
}
.work_url{
    text-align: center;
    margin-top: 20px;
}
.guest_center{
    text-align: center;
}
.guest_info{
    display: inline-block;
    margin: 0 20px;
}
.contact_sentence{
    text-align: center;
}
.awesome{
    text-align: center;
}
.awesome_one{
    display: inline-block;
    margin: 0 20px;
}
.icon{
    font-size: 100px;
    margin-bottom: 10px;
}


@media(max-width:767px){
    #header_background{
        height: 200px;
    }
    #title{
        font-size: 30px;
        top: 40px;
    }
    .header_margin{
        height: 200px;
    }
    .nav{
        padding: 5px 0;
    }
    .nav li{
        margin: 0 10px;
    }
    .menu{
        font-size: 15px;
    }
    .subtitle{
        margin: 30px 0;
    }
    .sentence{
        margin: 0 10px;
    }
    .sqlite{
        margin-bottom: 23px;
    }
    .skill_image{
        min-height: 44px;
    }
    .skill_name{
        font-size: 13px;
    }
    .skill_experience{
        font-size: 10px;
    }
    .star{
        font-size: 13px;
    }
    .works{
        margin: 0 10px;
    }
    .work_item{
        display: block;
        text-align: center;
        width: 100%;
        margin: 10px 0;
    }
    .work_image{
        width: 100%;
        height: 20%;
    }
    .icon{
        margin: 10px 0;
    }
}

@media(max-width:415px){
    .skill_image{
        min-height: 56px;
    }
}

@media(max-width:376px){
    .skill_image{
        min-height: 51px;
    }
}